server:
  port: 8081

spring:
  datasource:
    #    url: ${DBMS_CONNECTION:jdbc:mysql://localhost:3306/mini_mart_db_1}
    url: "jdbc:mysql://localhost:3306/java_database"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
api:
  prefix: /api/v1
